//////////////////////////
//
// display size
// 
/////////////////////////
$tablet-land: 75em;
$tablet-port: 56.25em;
$phone: 37.5em;

//////////////////////////
//
// gutters and width
// 
/////////////////////////
$color-black: #0d074e;
$color-grey: #535252;
$color-primary: #18b679;
$color-secondary: #1a6eb3;
$color-white: #ffffffee;
$color-red: #b30707;
$color-orange: rgb(238, 98, 17);

/////////////////////////
//
// gutters and width
// 
/////////////////////////
$gutter-main: 20vw; 