.books {
    min-height: 90vh;
    padding: 3rem;
    align-items: space-between;
    justify-content: center;

    &__card {
        background: linear-gradient(to  bottom, $color-white, darken($color-white, 10));
        box-shadow: 0 0 5px $color-black;
        border-radius: 5px;
        color: darken($color-secondary, 10);
        max-height: 350px;
        width: 300px;
        margin: 2rem;
        padding: 0 2rem 2rem 2rem;
        transition: all .2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            transform: translateY(-3px) scale(1.1);

            @include respond(tablet-port) {
                transform: translate(-2px) scale(1.05);
            }
        }

        &--image {
            height: 160px;
            width: 140px;
            align-self: center;

            img {
                height: 100%;
                width: 100%;
            }
        }

        &--description {
            height: 140px;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .book__action {
                background-color: darken($color-secondary, 10);
                border-radius: 0 7px 7px 0;
                color: $color-white;
                padding: 3px 5px;
                font-size: 1.8rem;
            }
        }
    }
}